version: '3.8'

networks:
  network:
    driver: bridge

services:
  backend:
    build: ./backend
    container_name: effective_backend
    expose:
      - ${BACKEND_PORT}
    networks:
      - network

  nginx:
    image: ${NGINX_VERSION}
    container_name: effective_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
    networks:
      - network